%h1#topheadline <span id="loanr">Loanr</span>: the app that helps you borrow instead of buy
%h2#firsttouse Sign up to be one of the first to use <span id="loanr">Loanr</span>

-# %input#emailbox{:type=>"text", :placeholder=>"Email Address"}

-# %form#emailtextbox{role: "form"}
-# 	.form-group
-# 		%input.form-control{placeholder: "Email address", type: "email", id: "emailbox"}/

-# %button.btn.btn-primary#btnSignup Submit!

.emailwrapper
	%input#emailbox
	%button.btn.btn-primary.btn-lg#btnSignup Submit!

%h6 Email sent via SendGrid


%h2#launch <span id="loanr">Loanr</span> is launching soon!



#techlogos



 